<footer class="footer" style="background-color: #22301b;">
  <div class="container" style="text-align: center;">
    <a
      class="bi bi-facebook text-light"
      style="font-size: medium;"
      href="https://facebook.com"
      title="Facebook"
    ></a>
    <a
      class="bi bi-instagram text-light"
      style="font-size: medium; margin-left: 5rem;"
      href="https://instagram.com"
      title="Instagram"
    ></a>
    <a
      class="bi bi-twitter text-light"
      style="font-size: medium; margin-left: 5rem;"
      href="https://twitter.com"
      title="Twitter"
    ></a>
    <p class="text-light" style="width: 32rem; margin-left: 5rem; display: inline;">
      Customer can return or replace their product within 15 days of purchase.
    </p>
  </div>
</footer>
