<div style="width: 100%; text-align: center; background-color: #22301b;">
  <a href="/"><img src="/images/logo-big.png" style="height: 10rem;" /></a>
</div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #22301b;">
  <div class="container-fluid">
    <a class="navbar-brand" style="margin-right: 2rem; margin-left: 1rem;" href="/">First Class Interiors </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a id="home" class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a id="contact" class="nav-link" href="/contact.html">Contact</a>
      </li>
      <li class="nav-item">
        <a id="about" class="nav-link" href="/about.html">About</a>
      </li>
      <li class="nav-item">
        <a id="shop" class="nav-link" href="/shop.html">Shop</a>
      </li>
    </ul>
    <img class="d-flex" src="/images/logo.png" style="width: 3rem;" />
  </div>
</nav>